name: Bounteous.Data

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]

jobs:
  run-sample:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Make script executable
        run: chmod +x run-sample.sh
      
      - name: Run sample application
        run: ./run-sample.sh
  
  publish:
    needs: run-sample
    if: github.event.pull_request.merged == true
    uses: Bounteous-Inc/bounteous-dotnet-common-workflows/.github/workflows/build-and-publish-to-nuget.yml@main
    with:
      csproj-path: './src/Bounteous.Data/Bounteous.Data.csproj'
      nuget-package-name: 'bounteous.data'
      dotnet-version: '10.0.x'
      release-path: 'net10.0'
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      NUGET_SOURCE_URI: ${{ secrets.NUGET_SOURCE_URI }}